<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div *ngFor="let mark of markets; let i = index" class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img width="320" height="97" src="./assets/img/brand/ngx-removebg-preview.png" class="navbar-brand-img" alt="...">
                </a>
                <div class="col">
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Market {{i + 1}}</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{mark}}</span>-->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <select name="trades" id="ts">
                      <option *ngFor="let mn of months" value="{{mn}}" [selected]="mn==='Select ...'">{{mn}}</option>
                    </select>
                  </p>
                </div>
                  <div class="col">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <button class="btn btn-success" (click)="submitMarketCode(mark)">Go</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img width="150px" height="150px" src="./assets/img/brand/afex-removebg-preview.png" class="navbar-brand-img" alt="...">
                </a>
                <div class="col">
                  <!--                  <h5 class="card-title text-uppercase text-muted mb-0">Market {{i + 1}}</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">AFEX</span>-->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <select name="trades" id="ts1">
                      <option *ngFor="let mn of months" value="{{mn}}" [selected]="mn==='Select ...'">{{mn}}</option>
                    </select>
                  </p>
                </div>
                <div class="col">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <button class="btn btn-success">Go</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img width="215px" height="215px" src="./assets/img/brand/fmdq-removebg-preview.png" class="navbar-brand-img" alt="...">
                </a>
                <div class="col">
                  <!--                  <h5 class="card-title text-uppercase text-muted mb-0">Market {{i + 1}}</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">FMDQ</span>-->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <select name="trades" id="ts2">
                      <option *ngFor="let mn of months" value="{{mn}}" [selected]="mn==='Select ...'">{{mn}}</option>
                    </select>
                  </p>
                </div>
                <div class="col">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <button class="btn btn-success">Go</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img width="210px" height="210px" src="./assets/img/brand/ncx-removebg-preview.png" class="navbar-brand-img" alt="...">
                </a>
                <div class="col">
                  <!--                  <h5 class="card-title text-uppercase text-muted mb-0">Market {{i + 1}}</h5>-->
                  <!--                  <span class="h2 font-weight-bold mb-0">NCX</span>-->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <select name="trades" id="ts4">
                      <option *ngFor="let mn of months" value="{{mn}}" [selected]="mn==='Select ...'">{{mn}}</option>
                    </select>
                  </p>
                </div>
                <div class="col">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <button class="btn btn-success">Go</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                  <img src="./assets/img/brand/nasd-removebg-preview.png" class="navbar-brand-img" alt="...">
                </a>
                <div class="col">
                  <!--                  <h5 class="card-title text-uppercase text-muted mb-0">Market {{i + 1}}</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">NASD</span>-->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <select name="trades" id="ts3">
                      <option *ngFor="let mn of months" value="{{mn}}" [selected]="mn==='Select ...'">{{mn}}</option>
                    </select>
                  </p>
                </div>
                <div class="col">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <button class="btn btn-success">Go</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5" style="padding-bottom: 50px">
  </div>
  <div class="row">
  </div>
</div>
