<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div *ngIf="marketCodeGlobal" container-fluid>
    <div style="padding: 30px; font-weight: bolder; color: white; font-size: 30px;">
      Market: {{marketCodeGlobal}}
    </div>
  </div>

  <div container-fluid *ngIf="tempMemCodeGlobal">
    <div style="padding: 20px; font-weight: bolder; color: white; font-size: 30px;">
      Trading Member: {{tempMemCodeGlobal}}
    </div>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngIf="this.role === 'superAdmin'">
        <div style="overflow-x:auto; width: 100%;">
          <table id="admin">
            <tr>
              <td>Trading Members</td>
              <td>Trading Clients</td>
              <td>Account Trades</td>
              <td>Trades</td>
              <td>Parties</td>
            </tr>
            <tr>
              <td>{{tmLength}}</td>
              <!-- <td>{{tmLength | number:'1.1-2'}}</td> -->
              <td>{{tcLength}}</td>
              <td>{{acLength}}</td>
              <td>{{tLength}}</td>
              <td>{{pLength}}</td>
            </tr>
          </table>
          </div>

      </div>

      <div style="overflow-x:auto;" *ngIf="this.role === 'TRADING_MEMBER'">
      <table id="member">
        <tr>
          <td>Trading Clients</td>
          <td>Total Stamp Duty</td>
          <td>Total Gross Amount</td>
          <td>Total Exchange Fees</td>
          <td>Total Brokerage Fees</td>
          <td>VAT on Brokerage Fees</td>
          <td>Payment Status</td>
        </tr>
        <tr>
          <td>{{tradingMember.tradingClients.length | number}}</td>
          <td>{{tradingMember.totalStampDutyFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalGrossAmount | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalExchangeFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalBrokerageFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.vatOnBrokerageFees | number:'1.1-2'}}</td>
          <td></td>
        </tr>
      </table>

        <ngb-accordion (panelChange)="beforeChange($event)" *ngIf="role === 'TRADING_MEMBER'">

          <ngb-panel id="preventchange-1" title="I want to pay with Flutterwave - {{ role != 'TRADING_MEMBER' ? 0 : tradingMemberA.totalStampDutyFees | number: '1.1-2'}}">
            <ng-template ngbPanelContent>
              <a (click)="makePayment()"><img src="./assets/img/brand/flutterwave-payment-removebg-preview.png" class="navbar-brand-img" alt="..."></a>
              <!--            <button class="btn btn-primary" *ngIf="role==='tradingMember'" (click)="makePayment()" style="font-size: 15px">Make Payment<br></button>-->
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

      <div class="row" *ngIf="this.role === 'TRADING_MEMBER'">
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <!-- <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trading Clients</h5>
                  <span class="h2 font-weight-bold mb-0">{{tradingMember.tradingClients.length | number}}</span>
                </div>
                <div class="col-auto">
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
              </p>
              <div class="col">
                <button class="btn btn-primary" (click)="back()">Back</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>


      <div style="overflow-x:auto;" *ngIf="this.role === 'tradingClient'">
      <table id="client">
        <tr>
          <td>Trades</td>
          <td>Total Stamp Duty</td>
          <td>Total Gross Amount</td>
          <td>Total Exchange Fees</td>
          <td>Total Brokerage Fees</td>
          <td>Total Central Security Deposit Fees</td>
          <td>Total Trade Alert Fees</td>
          <td>Total Sec Fees</td>
        </tr>
        <tr>
          <td>{{tradingClient.accountTrades.length | number}}</td>
          <td>{{tradingClient.totalStampDutyFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalGrossAmount | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalExchangeFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalBrokerageFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalCentralSecurityDepositFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalTradeAlertFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalSecFees | number:'1.1-2'}}</td>
        </tr>
      </table>
    </div>


    <div class="row" *ngIf="role === 'tradingClient'">
      <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
        <!-- <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Trades</h5>
                <span class="h2 font-weight-bold mb-0">{{tradingClient.accountTrades.length | number}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
            <div class="col">
              <button class="btn btn-primary" (click)="back()">Back</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5" style="padding-bottom: 50px">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5 mb-xl-0">
      <div class="card shadow" *ngIf="role === 'superAdmin'" style="padding: 25px;">

        <div style="display: inline; align-content: space-between;">
          <button class="btn btn-danger" (click)="getIndicator('0')" style="margin: 5px;">Admin Reset</button>
          <div style="display: inline; margin: 10px;">Select a Trading Member</div>
          <select name="tradingMembers" id="tm" #selectTm (change)="setCode(selectTm.value)" style="margin: 10px;">
            <option *ngFor="let tMem of tradingMembersArr" value="{{tMem}}"
                    [selected]="tMem==='Select ...'">{{tMem}}</option>
          </select>
          <button style="display: inline;" class="btn btn-danger" (click)="getIndicator('1')" style="margin-left: 5px;">Go</button>
        </div>

      </div>

      <div class="card shadow" *ngIf="role !== 'superAdmin'" style="padding: 25px;">

        <div *ngIf="role==='TRADING_MEMBER'">
          <p style="display: inline; padding: 10px;">Select a Trading Client</p>
          <select style="display: inline; margin: 10px;" name="tradingClients" id="tcs" #selectTc (change)="setCode(selectTc.value)">
            <option *ngFor="let tCli of tradingClientsSet" value="{{tCli}}"
                    [selected]="tCli==='Select ...'">{{tCli}}</option>
          </select>
          <button style="display: inline;" class="btn btn-danger" (click)="getIndicator('2')" style="margin-left: 5px;">Go</button>
        </div>

        <div *ngIf="role==='tradingClient'">
          <p style="display: inline; padding: 10px;">Select an Account Trade</p>
          <select style="display: inline; margin: 10px;" name="trades" id="ts" #selectAr (change)="setCode(selectAr.value)">
            <option *ngFor="let ar of accountTradeSet" value="{{ar}}" [selected]="ar==='Select ...'">{{ar}}</option>
          </select>
          <button style="display: inline; padding: 10px;" class="btn btn-danger" (click)="getIndicator('3')" style="margin-left: 5px;">Go</button>
        </div>
      </div>
    </div>

    <div style="padding: 20px;"></div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <app-grid-data [indicator]="selIndicator" [code]="code"></app-grid-data>
    </div>
  </div>

</div>
