<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngIf="this.role === 'superAdmin'">
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trading Members</h5>
                  <span class="h2 font-weight-bold mb-0">{{tmLength}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trading Clients</h5>
                  <span class="h2 font-weight-bold mb-0">{{tcLength}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Account Trades</h5>
                  <span class="h2 font-weight-bold mb-0">{{acLength}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trades</h5>
                  <span class="h2 font-weight-bold mb-0">{{tLength}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Parties</h5>
                  <span class="h2 font-weight-bold mb-0">{{pLength}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Back to Market Place</h5>
                  <button class="btn btn-primary" (click)="back()">Back</button>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="this.role === 'tradingMember'">
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trading Clients</h5>
                  <span class="h2 font-weight-bold mb-0">{{tradingMember.tradingClients.length | number}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
              <div class="col">
                <button class="btn btn-primary" (click)="back()">Back</button>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Stamp Duty</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingMember.totalStampDutyFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-chart-pie"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last week</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Gross Amount</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingMember.totalGrossAmount | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-users"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
<!--                <span class="text-nowrap">Since yesterday</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Exchange Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingMember.totalExchangeFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Brokerage Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingMember.totalBrokerageFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">VAT on Brokerage Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingMember.vatOnBrokerageFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Back to Market Place</h5>-->
<!--                  <button class="btn btn-primary" (click)="back()">Back</button>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>

      <table *ngIf="this.role === 'tradingMember'">
        <tr>
          <th>Total Stamp Duty</th>
          <th>Total Gross Amount</th>
          <th>Total Exchange Fees</th>
          <th>Total Brokerage Fees</th>
          <th>VAT on Brokerage Fees</th>
        </tr>
        <tr>
          <td>{{tradingMember.totalStampDutyFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalGrossAmount | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalExchangeFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.totalBrokerageFees | number:'1.1-2'}}</td>
          <td>{{tradingMember.vatOnBrokerageFees | number:'1.1-2'}}</td>
        </tr>
      </table>

      <div class="row" *ngIf="role === 'tradingClient'">
        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Trades</h5>
                  <span class="h2 font-weight-bold mb-0">{{tradingClient.accountTrades.length | number}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
              <div class="col">
                <button class="btn btn-primary" (click)="back()">Back</button>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Stamp Duty</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalStampDutyFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-chart-pie"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last week</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Gross Amount</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalGrossAmount | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-users"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
<!--                <span class="text-nowrap">Since yesterday</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Exchange Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalExchangeFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Brokerage Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalBrokerageFees | number}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-broadcast-tower"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Central Security Deposit Fees</h5>-->
<!--                  <span-->
<!--                    class="h2 font-weight-bold mb-0">{{tradingClient.totalCentralSecurityDepositFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-centercode"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last week</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Trade Alert Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalTradeAlertFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-trade-federation"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
<!--                <span class="text-nowrap">Since yesterday</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Total Sec Fees</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{tradingClient.totalSecFees | number:'1.1-2'}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-user-secret"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-6" style="padding-top: 50px">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Back to Market Place</h5>-->
<!--                  <button class="btn btn-primary" (click)="back()">Back</button>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
<!--                    <i class="fas fa-percent"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>

      <table *ngIf="this.role === 'tradingClient'">
        <tr>
          <th>Total Stamp Duty</th>
          <th>Total Gross Amount</th>
          <th>Total Exchange Fees</th>
          <th>Total Brokerage Fees</th>
          <th>Total Central Security Deposit Fees</th>
          <th>Total Trade Alert Fees</th>
          <th>Total Sec Fees</th>
        </tr>
        <tr>
          <td>{{tradingClient.totalStampDutyFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalGrossAmount | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalExchangeFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalBrokerageFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalCentralSecurityDepositFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalTradeAlertFees | number:'1.1-2'}}</td>
          <td>{{tradingClient.totalSecFees | number:'1.1-2'}}</td>
        </tr>
      </table>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5" style="padding-bottom: 50px">

    <div class="col-xl-2 col-lg-2 col-sm-12 col-xs-12 mb-5 mb-xl-0">
      <div class="card shadow" *ngIf="role === 'superAdmin'" style="padding: 25px;">
        <div>
          <button class="btn btn-danger" (click)="getIndicator('0')" style="margin-left: 5px;">Admin Reset</button>
          <br>
        </div>

        <div>
          <div>Select a Trading Member</div>
          <select name="tradingMembers" id="tm" #selectTm (change)="setCode(selectTm.value)">
            <option *ngFor="let tMem of tradingMembersArr" value="{{tMem}}"
                    [selected]="tMem==='Select ...'">{{tMem}}</option>
          </select>
          <br>
          <button class="btn btn-danger" (click)="getIndicator('1')" style="margin-left: 5px;">Go</button>
          <br>
        </div>

        <div>
          <p>Select a Trading Client</p>
          <select name="tradingClients" id="tc" #selectTc (change)="setCode(selectTc.value)">
            <option *ngFor="let tCli of tradingClientsArr" value="{{tCli}}"
                    [selected]="tCli==='Select ...'">{{tCli}}</option>
          </select>
          <br>
          <button class="btn btn-danger" (click)="getIndicator('2')" style="margin-left: 5px;">Go</button>
          <br>
        </div>

        <div>
          <p>Select a Trade</p>
          <select name="trades" id="t" #selectT (change)="setCode(selectT.value)">
            <option *ngFor="let tr of tradesArr" value="{{tr}}" [selected]="tr==='Select ...'">{{tr}}</option>
          </select>
          <br>
          <button class="btn btn-danger" (click)="getIndicator('3')" style="margin-left: 5px;">Go</button>
          <br>
        </div>

      </div>

      <div class="card shadow" *ngIf="role !== 'superAdmin'" style="padding: 25px;">

        <div *ngIf="role==='tradingMember'">
          <p>Select a Trading Client</p>
          <select name="tradingClients" id="tcs" #selectTc (change)="setCode(selectTc.value)">
            <option *ngFor="let tCli of tradingClientsSet" value="{{tCli}}"
                    [selected]="tCli==='Select ...'">{{tCli}}</option>
          </select>
          <br>
          <button class="btn btn-danger" (click)="getIndicator('2')" style="margin-left: 5px;">Go</button>
          <br>
          <!--          <ngx-paypal [config]="payPalConfig"></ngx-paypal>-->
          <!--          <br/>-->
          <!--          <button class="btn btn-success" style="margin-left: 5px;">Pay Stamp Duty</button>-->
          <!--          <br>-->
        </div>

        <div *ngIf="role==='tradingClient'">
          <p>Select a Trade</p>
          <select name="trades" id="ts" #selectT (change)="setCode(selectT.value)">
            <option *ngFor="let tr of tradeSet" value="{{tr}}" [selected]="tr==='Select ...'">{{tr}}</option>
          </select>
          <br>
          <button class="btn btn-danger" (click)="getIndicator('3')" style="margin-left: 5px;">Go</button>
          <br>
        </div>
        <!--      </div>-->
      </div>
    </div>

    <div class="col-xl-10 col-lg-10 col-sm-12 col-xs-12">
      <app-grid-data [indicator]="selIndicator" [code]="code"></app-grid-data>
    </div>
  </div>

</div>
